/* Сброс стилей */
body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
}

/* Стили для футера */
footer {
    background-color: #8bc34a;
    width: 100%;
    color: white;
    padding: 20px;
    position: relative;
    bottom: 0;
}

footer h4 {
    margin: 0;
}

/* Стили для шапки */
header {
    height: 80px;
    position: fixed;
    background-color: #8bc34a;
    width: 100%;
    color: white;
    z-index: 1000;
    transition: top 0.3s;
}

header a {
    text-decoration: none;
    color: inherit; /* Цвет ссылок наследуется от родительского элемента */
}

.main:visited {
    color: #0d47a1;
}

/* Навигационная панель */
.nav {
    position: fixed;
    display: none;
    flex-direction: row;
    width: 100%;
}

.nav a {
    color: white;
    text-decoration: none;
    margin-right: 20px;
    position: relative;
    top: 50%;
}

/* Медиа-запросы */
@media screen and (min-width: 769px) {
    .nav {
        display: flex;
    }

    header h1 {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        margin: 0;
        font-family: days;
        color: #0d47a1;
        text-decoration: none;
    }

    #menuButton {
        display: none;
    }

    #closeMenuButton {
        display: none;
    }
}

@media screen and (max-width: 768px) {
    header {
        height: 80px;
    }

    header h1 {
        transform: none;
        text-align: center;
        width: 100%;
        font-family: days;
        margin: 0;
        top: 25%;
        position: absolute;
    }

    .nav {
        position: fixed;
        top: 0;
        left: -100%;
        width: 100%;
        background-color: #8bc34a;
        display: flex;
        flex-direction: column;
        align-items: center;
        transition: left 0.3s;
        z-index: 1;
    }

    .nav.active {
        left: 0;
        z-index: 2;
    }

    #menuButton {
        top: 50%;
    }

    #closeMenuButton {
        position: absolute;
        display: none;
        left: 20%;
        top: -40px;
        right: 10px;
        z-index: 3;
        background-color: #000;
        padding: 5px 10px;
    }
}